<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Locations</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge badge-primary"> NAME </span> - <span class="badge badge-primary"> AREA M2 </span> - <span class="badge badge-primary"> PARENT LOCATION </span> </li>
        <li *ngFor="let locationF of arrayLocation" (click)="loadForEdit(locationF)" [class.active] = "locationF == location" class="list-group-item">
          <span class="badge badge-primary"> {{locationF.name}}</span> {{locationF.area_m2}} - {{locationF.parent_location}}</li>
      </ul>
    </div>
    <div class="card" class="col-md-6">
      <div class="card-body">
        <div class="card-tittle">
          Insert/Update Location
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="location.name" placeholder="Name" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="number" [(ngModel)]="location.area_m2" placeholder="M2" class="form-control"/>
        </div>
        <div class="form-group">
          <select [(ngModel)]="location.parent_location" placeholder="Parent" class="form-control">
            <option *ngFor="let locationF of arrayLocation" [value] = "locationF.name" > {{locationF.name}} - {{locationF.area_m2}} </option>
          </select>
        </div>
        <button (click) = "addOrUpdate()" class="btn btn-primary">Save</button>
        <button *ngIf="exist(location.name)" (click) = "delete()" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>